body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  margin-top: auto;
  margin-bottom: auto;
}

.blog-card {
  background-color: white;
  max-height: 501px;
  max-width: 327px;
  padding: 1.5rem;
}

.
