body {
  font-family: "Figtree", Arial, Helvetica, sans-serif;
  background-color: hsl(47, 88%, 63%);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: auto;
  margin-bottom: auto;
}

.blog-card {
  background-color: white;
  height: 501px;
  width: clamp(327px, 90vw, 384px);
  border: 1px solid black;
  border-radius: 1.25rem;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 8px 8px black;
}

.image-crop {
  width: clamp(279px, calc(100% - 3rem), 336px);
  height: 200px;
  overflow: hidden;
  margin: 1.5rem auto;
  border-radius: 10px;
}

.graphic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-description {
  margin: 1.5rem;
  width: clamp(279px, calc(100% - 3rem), 336px);
}

.content-margin {
  margin: 0.75rem auto;
}

.blog-category-container {
  width: 4.5625rem;
  height: 1.625rem;
  background-color: hsl(47, 88%, 63%);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  line-height: 150%;
}

.blog-title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.blog-subtitle {
  color: rgb(107, 107, 107);
  line-height: 150%;
}

.blog-category {
  text-align: center;
}

.text-preset-1 {
  font-weight: 900;
  font-size: clamp(1.25rem, 0.75rem + 2vw, 1.5rem);
}

.text-preset-2 {
  font-weight: 500;
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
}

.text-preset-3 {
  font-weight: 500;
  font-size: clamp(0.75rem, 0.5vw + 0.75rem, 1rem);
}

.text-preset-3-bold {
  font-weight: 900;
  font-size: 0.75rem;
}

.author {
  display: flex;
  align-items: center;
  margin: 1.5rem;
  gap: 0.75rem;
}

.author-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.author-name {
  margin: 0;
  font-size: 0.875rem;
}

.credits {
  font-size: 0.75rem;
  margin-left: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .blog-card {
    height: 522px;
  }

  .author-name {
    font-weight: 900;
  }
}
